<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>basic-webpage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <style>

body{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-repeat: no-repeat;
   background-size: cover;

}
</style>
</head>
<body>
<div class="container">
    <div class="container" >
        <div class="heade" >
            <h1 style="color:rgba(0, 0, 255, 0.233)"> <br>I am,<span> Christian Tshukudu</span></h1>
        </div>
        <ul class="nav nav-pills">
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-home"></span> Home
              </a>
            </li>
            <li>
              <a href="/project">
                <span class="glyphicon glyphicon-briefcase"></span> Projects
              </a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1HMtwa33wSYf6-UVLzkG4O38tzE7UTwcW/view?usp=sharing">
                <span class="glyphicon glyphicon-th-list"></span> CV
              </a>
            </li>
          </ul>

          <div class="hi freedom">
            <h4>Web developer</h4>   
           <img src="responsive.png" class="responsive">
  </div>
 <div class="foot">
  
        <a href="https://github.com/cktshukudu">
            <i class="fa fa-github"></i>Github
        </a>
     <a href="https://linkedin.com/in/Christian-tshukudu-684277149">
        <i class="fa fa-linkedin"></i>Linkedin
     </a>
 </div>
 <div class="footer">
  <p>Developed by : <a href="mailto:cktshukudu@gmail.com">Christian Tshukudu</a> || &#169; 2021 All Rights Reserved</p>
</div>
</div>
</body>
</html>